// Theme colors
$primary: #5065dc;
$secondary: #fb5859;
$dark: #242946;
$light: #ededed;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
);

// Button styles
$btn-border-radius: 0.2rem;
$btn-box-shadow: 0 2px 4px rgba($primary, 0.2);
$btn-padding-y: 0.5rem;
$btn-padding-x: 0.75rem;

// Card styles
$card-border-radius: 0.5rem;
$card-border-color: transparent;
$card-box-shadow: 0 4px 8px rgba($primary, 0.2);

// Input styles
$input-border-radius: $btn-border-radius;
$input-padding-y: $btn-padding-y;
$input-padding-x: $btn-padding-x;

// General styles

// Accordion styles
.accordion-item {
  border-left: 0 !important; // Remove left border
  border-right: 0 !important; // Remove right border
}

// Accordion styles for mobile
@media (max-width: 576px) {
  .accordion-item {
    width: 100%;
  }
}

// Card custom styles
.card-custom {
  box-shadow: $card-box-shadow;
  .card-body {
    padding: 2rem 0;
  }
  hr.dotted {
    border: 0;
    border-top: 7px dotted rgb(201, 201, 201);
    margin: 3rem 0 2rem 0;
  }
}

.card-custom.second {
  margin-top: 2rem;
}

.card-custom.third {
  margin-top: 4rem;
}

.footer-input {
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;
}

@media (min-width: 577px) {
  .footer-input {
    max-width: 300px;
  }
}

// Footer styles for mobile
@media (max-width: 576px) {
  .footer-input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer-button {
    display: block;
    width: 100%;
  }
}

// Text center styles
.text-center.w-50.mx-auto.mb-5 {
  max-width: 400px;
}

// Background figure styles
.bg-figure {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 500px;
  height: 300px;
  background-color: $primary;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  z-index: -1;
}

.bg-figure-2 {
  position: absolute;
  left: 0;
  bottom: -75px;
  width: 500px;
  height: 300px;
  background-color: $primary;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: -1;
}

// Features section styles
.features-section .border-secondary {
  border-width: 5px !important; // Increase border thickness
  border-color: $secondary !important; // Set border color to secondary
  z-index: 3 !important;
}

// .bg-dark container styles for mobile
@media (max-width: 576px) {
  .bg-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg-dark .bookmark-logo {
    margin-bottom: 2rem; // Add more space between logo and links
  }
  .bg-dark .features,
  .bg-dark .pricing,
  .bg-dark .contact {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .bg-dark .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem; // Add more space between social media and links
  }
}

// Hero section styles for mobile
@media (max-width: 576px) {
  .row.align-items-end {
    flex-direction: column-reverse;
  }
}

// Paragraph styles for mobile
@media (max-width: 576px) {
  .faq-paragraph {
    width: 100%;
  }
}

@media (min-width: 577px) {
  .faq-paragraph {
    width: 50%;
  }
}

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

h6 {
  color: #6c757d;
  padding: 1rem 0;
  line-height: 1.5rem;
}
